.editior-choice-text {
  background-color: #e1eaed;
  width: 262px;
  padding: 3px 13px 3px 0;
  font-size: 0.9rem;
  color: #000c4a;
}
.modern-lifestyle-content {
  color: #2f3857;
  font-size: 3rem;
  line-height: 1.2;
  font-weight: 900;
  margin: 1.5rem 0;
  font-family: "PoppinsSemiBold";
}
.btn-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.lifestyle-sub-section {
  color: #3d414a;
  font-weight: normal;
}
.watch-demo-text {
  margin: 0 1.25rem;
  font-weight: 500;
  color: #2524f9;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-family: "PoppinsSemiBold";
}

.lifestyle-section {
  width: 400px;
}
.try-for-free-btn {
  font-family: "PoppinsSemiBold";
  background-color: #2524f9;
  padding: 0.5rem 1.5rem;
  margin-left: 1.25rem;
  color: #ffffff;
  border-radius: 40px;
}
.mrg-top-btm {
  margin: 1.5rem 0;
}
.sub-head-section {
  background-image: url("../../assets/modern-lifestyle/skyline.png");
  background-repeat: no-repeat, no-repeat;
  background-size: 100% 60%;
  background-position: bottom;
  padding: 0 7rem;
  justify-content: space-around;
  display: flex;
  align-items: center;
}
.editor-choice-circle {
  background-color: #ffab24;
  border-radius: 48%;

  padding: 3px 13px;
  margin-right: 6px;
}
.img {
  width: 200px;
  padding-bottom: 1rem;
}

@media only screen and (max-width: 950px) {
  .modern-lifestyle-content {
    color: #2f3857;
    font-size: 2.1rem;
  }
  .sub-head-section {
    padding: 0 4rem;
    flex-direction: column;
  }
  .phone-image {
    width: 290px;
  }
}
@media only screen and (max-width: 750px) {
  .modern-lifestyle-img img {
    width: 260px;
  }
  .phone-image {
    width: 260px;
  }
}
@media only screen and (max-width: 640px) {
  .sub-head-section {
    background-size: contain;
  }
  .modern-lifestyle-img img {
    width: 260px;
  }
}
@media only screen and (max-width: 550px) {
  .lifestyle-section {
    width: 85%;
  }
  .sub-head-section {
    padding-left: 0rem;
    padding-right: 0rem;
  }
  .watch-demo-text {
    margin-left: 0.5rem;
  }
}
@media only screen and (max-width: 500px) {
  .phone-image {
    width: 200px;
  }
  .btn-section {
    flex-direction: column;
    text-align: center;
  }
  .try-for-free-btn {
    margin-left: 0;
    margin-bottom: 1.25rem;
  }

  .watch-demo-text {
    text-align: center;
  }
}
