
@font-face {
    font-family: 'PoppinsSemiBold';
    src: url('../Poppins/Poppins-SemiBold.ttf');
}

@font-face {
    font-family: 'PoppinsRegular';
    src: url('../Poppins/Poppins-Regular.ttf');
        
}